<h1>Cadastre o produto</h1>
<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()" class="formgrid grid">
    <div class="field col-12 mt-2">
      <span class="p-float-label">
        <input id="nome" type="text" formControlName="nome" pInputText class="w-full"> 
        <label for="nome">Nome</label>
      </span>
    </div>
    <div class="field col-12 mt-2">
      <span class="p-float-label">
        <input id="sku" type="text" formControlName="descricao" pInputText class="w-full"> 
        <label for="sku">Descrição</label>
      </span>
    </div>
    
    <div class="field col-12 mt-2 md:col-4">
      <span class="p-float-label">
        <input id="preco" type="text" formControlName="preco" pInputText class="w-full"> 
        <label for="preco">Preço</label>
      </span>
    </div>
    <div class="field col-12 mt-2 md:col-4">
      <p-dropdown 
        [options]="categories" 
        formControlName="selectedCategoria" 
        placeholder="Categoria" 
        optionLabel="nome"
        autoWidth="false" 
        [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="field-checkbox col-12 mt-2 md:col-4">
      <p-checkbox name="ativo" value="Ativo" formControlName="ativo"></p-checkbox>
      <label for="ativo">Ativo</label>
    </div>

    <div class="field col-12 mt-2">
      <div class="flex justify-content-end gap-3">
        <button pButton type="button" label="Cancelar" type="reset"  class="p-button-secondary"></button>
        <button pButton pRipple type="button" label="Cadastrar" type="submit"></button>
      </div>
    </div>
</form>