<p-dialog 
  header="Cadastro de item" 
  [(visible)]="display" 
  [modal]="true" 
  [maximizable]="true"
  [style]="{width: '70%'}"
  (onHide)="item = undefined">
  <itens-cadastro (newItemEvent)="itemSaved($event)" [item]="item"></itens-cadastro>
</p-dialog>

<p-card header="Itens do Cardapio" >
  <ng-template pTemplate="subtitle">
    <p-button type="button" (click)="showDialog()" icon="pi pi-plus" label="Cadastrar"></p-button>
  </ng-template>
  
  <ng-template pTemplate="content">
    <p-table [value]="itens" responsiveLayout="stack" [breakpoint]="'960px'" >
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Status</th>
              <th>Preço</th>
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-columns="columns">
          <tr>
              <td>{{item.nome}}</td>
              <td>{{item.descricao}}</td>
              <td>{{item.selectedCategoria.nome}}</td>
              <td>{{item.status ? 'Ativado' : 'Desativado'}}</td>
              <!-- TODO: Adicionar pipe de curency -->
              <td>R$ {{item.preco}}</td>
              <td class="flex gap-2">
                <button 
                  pButton 
                  class="p-button-raised p-button-rounded" 
                  icon="pi pi-pencil"
                  (click)="editItem(item)"></button>
                <button 
                  pButton 
                  class="p-button-raised p-button-rounded p-button-danger" 
                  icon="pi pi-trash"
                  (click)="removeItem(item)"></button>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-card>
