<form [formGroup]="unidadeForm" (ngSubmit)="onSubmit()" class="formgrid grid">
    <div class="field col-12">
      <span class="p-float-label">
        <input pInputText id="nome" type="text" formControlName="nome" class="w-full"> 
        <label for="nome">Nome</label>
      </span>
    </div>
    <div class="field col-12 mt-2 md:col-6">
      <span class="p-float-label">
        <input pInputText id="sku" type="text" formControlName="rua" class="w-full">
        <label for="sku">Rua</label>
      </span>
    </div>

    <div class="field col-12 mt-2 md:col-6">
      <span class="p-float-label">
        <input pInputText id="sku" type="text" formControlName="bairro" class="w-full">
        <label for="sku">Bairro</label>
      </span>
    </div>

    <div class="field col-12 mt-2 md:col-6">
      <span class="p-float-label">
        <input pInputText id="sku" type="text" formControlName="cidade" class="w-full">
        <label for="sku">Cidade</label>
      </span>
    </div>
<!-- TODO: transformar em lista -->
    <div class="field col-12 mt-2 md:col-6">
      <span class="p-float-label">
        <input pInputText id="sku" type="text" formControlName="estado" class="w-full">
        <label for="sku">Estado</label>
      </span>
    </div>

    <div class="field col-12 mt-2">
      <div class="flex justify-content-end gap-3">
        <button pButton type="button" label="Limpar" type="reset" class="p-button-secondary" ></button>
        <button pButton type="button" label="Cadastrar" type="submit" [disabled]="!unidadeForm.valid"></button>
      </div>
    </div>
</form>